.landing {
  width: 90%;
  background-color: #FFFFFF;
  height: 43%;
  margin-top: 5%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  transition-duration: 400ms;
}

.landing-image {
  width: 80%;
  background-position: center;
  background-size: cover;
  background-image: url(https://64.media.tumblr.com/5d1c38dfd3fe2db9986e6e1d733acb98/tumblr_oicpee5Eo91r91oaao1_1280.jpg);
}

.landing:hover {
  width:100%;
}

.landing:hover .landing-text {
  top: 2%;
  left: 10%;
}

.landing-text {
  width: 30%;
  position: absolute;
  top: 5%;
  left: 15%;
  font-size: 1em;
  color: #727372;
  transition-duration: 400ms
}

.landing-text p {
  color: #262626;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

.landing-text h1 {
  line-height: .9em;
}
